<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- bootstrap csss -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <title>
            FIFA 19 - Kelompok Peruzzi
        </title>
    </head>

    <style>
        img {
            max-height: 120px;
            max-width: 120px;
        }
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        .center {
            margin: auto;
        }
    </style>

    <body style="background-color:powderblue;">
        <!-- Content goes here -->
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <!-- FIFA logo goes here -->
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/EA_Sports_monochrome_logo.svg/1200px-EA_Sports_monochrome_logo.svg.png">
                </div>
                <div class="col-md-6 center">
                    <!-- Search Box goes here -->
                    <form action="/search/" method="post">
                        {% csrf_token %}
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <!-- Image goes here -->
                    <img src={{ photo }}>
                </div>
                <div class="col-md-6">
                    <!-- Content goes here -->
                    <div class="row name">
                        <div class="col tabel">
                            Player Name
                        </div>
                        <div class="col isi">
                            {{ name }}
                        </div>
                    </div>
                    <div class="row club">
                        <div class="col tabel">
                            Club
                        </div>
                        <div class="col isi">
                            {{ club }}
                        </div>
                    </div>
                    <div class="row nationality">
                        <div class="col tabel">
                            Nationality
                        </div>
                        <div class="col isi">
                            {{ nationality }}
                        </div>
                    </div>
                    <div class="row age">
                        <div class="col tabel">
                            Age
                        </div>
                        <div class="col isi">
                            {{ age }}
                        </div>
                    </div>
                    <div class="row score">
                        <div class="col tabel">
                            Score
                        </div>
                        <div class="col isi">
                            {{ score }}
                        </div>
                    </div>
                    <div class="row number">
                        <div class="col tabel">
                            Number
                        </div>
                        <div class="col isi">
                            {{ number }}
                        </div>
                    </div>
                    <div class="row height">
                        <div class="col tabel">
                            Height
                        </div>
                        <div class="col isi">
                            {{ height }}
                        </div>
                    </div>
                    <div class="row weight">
                        <div class="col tabel">
                            Weight
                        </div>
                        <div class="col isi">
                            {{ weight }}
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </body>
</html>
